$backgroundColor: rgb(61, 59, 66);
$hoverBackgroundColor:#7A7A7A;
$hoverGradientColor:#ffffff;

$baseFontColor: #ffffff;
$hoverFontColor: #444444;

$borderRight: rgba(0, 0, 0, 0);
$borderRightGrad: #ffffff;

$borderBottomLink: #bebebe;

$transparent: rgba(0, 0, 0, 0);
