$backgroundColor: rgb(61, 59, 66);
$hoverBackgroundColor:#7A7A7A;
$hoverGradientColor:#ffffff;
$hoverTextBackColor:rgba(51, 51, 51,0.7);

$baseFontColor: #ffffff;
$hoverFontColor: #444444;


$borderRight: rgba(0, 0, 0, 0);
$borderRightGrad: #ffffff;

$borderBottomLink: #bebebe;

$transparent: rgba(0, 0, 0, 0);
