/* Modus Versus Slicing
 *
 * /sass/base/_root.scss - Base styles for root element
 *
 */

html{
    font: normal 16px $openSansStack;
    background-color: $backgroundColor;
    color: $baseFontColor;
}

a{
	text-decoration: none;
    color: $baseFontColor;
}
section{
    margin-bottom: 2rem;
}
